<div class="container login-box">
  <form (ngSubmit)="doLogin()" *ngIf="!isLogedIn" ngNativeValidate materialize>
    <div class="row login-box">
      <div class="input-field col s12 m6 offset-m3">
        <i class="material-icons prefix">account_circle</i>
        <input id="userCode" name="userCode" [(ngModel)]="user.userCode" required="required" type="text" class="validate" [placeholder]="'login.user-placeholder' | translate">
        <label for="userCode">{{'login.userCode' | translate}}</label>
      </div>
      <div class="input-field col s12 m6 offset-m3">
        <i class="material-icons prefix">lock</i>
        <input id="userPwd" name="userPwd" [(ngModel)]="user.userPwd" required="required"
              type="password" class="validate" [placeholder]="'login.password-placeholder' | translate ">
        <label for="userPwd">{{ 'login.password' | translate }}</label>
      </div>
      <button type="submit" class="col s10 offset-s1 m4 offset-m4 btn blue darken-3" >{{ 'login.login-button' | translate}}</button>
    </div>
  </form>
  <div class="col s12" *ngIf="isLogedIn">
      <div class="row">
        <div class="col s12 center">
          <i *ngIf="!userImage" class="material-icons login-icon-large red-text text-accent-1">account_circle</i>
          <h5>{{userName}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s10 offset-s1">
          <div class="collection no-border">
            <a routerLink="/admin/issue-list" class="collection-item no-border">Issue</a>
            <a routerLink="/admin/project-list" class="collection-item no-border">Project</a>
            <a routerLink="/admin/pic-list" class="collection-item no-border">PIC</a>
          </div>
        </div>
      </div>
      <div class="row">
         <button class="btn col offset-s1 s10 m4 offset-m4 waves-effect waves-light blue darken-3" (click)="logout()">Logout</button>
      </div>
    </div>
</div>


<!-- {{user | json}} -->